@font-face {
    font-family: 'Source Sans Pro Light';
    src: url('sourcesanspro-light.eot');
    src: url('sourcesanspro-light.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-light.woff') format('woff'),
         url('sourcesanspro-light.ttf') format('truetype'),
         url('sourcesanspro-light.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
