@font-face {
    font-family: 'Source Sans Pro Black Italic Web Font';
    src: url('sourcesanspro-blackit.eot');
    src: url('sourcesanspro-blackit.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-blackit.woff') format('woff'),
         url('sourcesanspro-blackit.ttf') format('truetype'),
         url('sourcesanspro-blackit.svg#source_sans_problack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
