@font-face {
    font-family: 'Source Sans Pro Extra Light Italic';
    src: url('sourcesanspro-extralightit.eot');
    src: url('sourcesanspro-extralightit.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-extralightit.woff') format('woff'),
         url('sourcesanspro-extralightit.ttf') format('truetype'),
         url('sourcesanspro-extralightit.svg#source_sans_proXLtIt') format('svg');
    font-weight: normal;
    font-style: normal;
}
