@font-face {
    font-family: 'Source Sans Pro Italic';
    src: url('sourcesanspro-it.eot');
    src: url('sourcesanspro-it.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-it.woff') format('woff'),
         url('sourcesanspro-it.ttf') format('truetype'),
         url('sourcesanspro-it.svg#source_sans_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
