@font-face {
    font-family: 'Source Sans Pro Regular Web Font';
    src: url('sourcesanspro-regular.eot');
    src: url('sourcesanspro-regular.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-regular.woff') format('woff'),
         url('sourcesanspro-regular.ttf') format('truetype'),
         url('sourcesanspro-regular.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
