@font-face {
    font-family: 'Broken Font Light';
    src: url('brokenfont-light.eot');
    src: url('brokenfont-light.eot?#iefix') format('embedded-opentype'),
         url('brokenfont-light.woff') format('woff'),
         url('brokenfont-light.ttf') format('truetype'),
         url('brokenfont-light.svg#brokenfont_light') format('svg');
    font-weight: normal;
    font-style: normal;
}
