@font-face {
    font-family: 'Broken Font Bold';
    src: url('brokenfont-bold.eot');
    src: url('brokenfont-bold.eot?#iefix') format('embedded-opentype'),
         url('brokenfont-bold.woff') format('woff'),
         url('brokenfont-bold.ttf') format('truetype'),
         url('brokenfont-bold.svg#brokenfont_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
